*.iml
/.idea/

.project
.classpath
/.settings/

/target/

/build/
*.jar
*.war
*.ear
!gradle-wrapper.jar
gradle-app.setting
.gradletasknamecache

/bin/
/src/main/java/org/topgg/crowdingg/listeners/
/.gradle/
